html {
  color: #f0f0f0;
  background-color: #111;
  font-family: "Helvetica Neue", -apple-system, "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.red {
  color: #ff001e;
}

.dark-red {
  color: #c70017
}

.green {
  color: #26ff00;
}

.blue {
  color: #42c2f5;
}

.text-center {
  text-align: center;
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

a {
  color: #42c2f5;
}
