<p>hello im t4rp and i like using computers and listening weird music.
<p>

<h2>Socials:</h2>
<ul>
  <li><a href="https://github.com/T4rp">Github</a></li>
  <li><a href="https://bsky.app/profile/t4rp.bsky.social">Bluesky</a></li>
  <li>Discord: t4rp</li>
  <li>Bitcoin 🙏: 394PAHMbXX3gTjGZ9QBHdFB5NqfAJDaU8N</li>
  <li>Ethereum 🙇: 0x628838D8de5c5b592FBc2cB5B68360116C254ECE</li>
</ul>

<h2>Other texts i think are cool</h2>
<ul>
  <li><a target="_blank" href="https://world.hey.com/dhh">https://world.hey.com/dhh</a></li>
  <li><a target="_blank" href="https://matklad.github.io/">https://matklad.github.io/</a></li>
  <li><a target="_blank" href="https://fasterthanli.me/">https://fasterthanli.me/</a></li>
  <li><a target="_blank" href="https://taylor.town/">https://taylor.town/</a></li>
  <li><a target="_blank" href="https://faultlore.com/blah/">https://faultlore.com/blah/</a></li>
</ul>

