<p>hello im t4rp and i like using computers and listening weird music.
<p>

<p>sorry for being a 1 MB site i just wanted cool markdown and LaTeX stuff
</p>

<p>you have to admit tho this is sick</p>

<pre><code class="c">#include &lt;stdio.h&gt;

void main() {
  printf("hello world");
  return 0;
}
</code></pre>


<p class="math">$$x = \frac {-b \pm \sqrt{b^2 -4ac}} {2a}$$</p>

<h2>Other texts i think are cool</h2>

<ul>
  <li><a target="_blank" href="https://world.hey.com/dhh">https://world.hey.com/dhh</a></li>
  <li><a target="_blank" href="https://matklad.github.io/">https://matklad.github.io/</a></li>
  <li><a target="_blank" href="https://fasterthanli.me/">https://fasterthanli.me/</a></li>
  <li><a target="_blank" href="https://taylor.town/">https://taylor.town/</a></li>
  <li><a target="_blank" href="https://faultlore.com/blah/">https://faultlore.com/blah/</a></li>
</ul>

