html {
  color: #b5b5b5;
  background-color: #111;
  font-family: "Helvetica Neue", -apple-system, "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.red {
  color: #b52512;
}

.green {
  color: #28b028;
}

.blue {
  color: #285cb0;
}

.text-center {
  text-align: center;
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}
